/example10_g07/build/
/example10_g07/nbproject/private/
/example10_g07/dist/
/example11/nbproject/private/
/example11/build/
/example11/dist/
/jspdemo/nbproject/private/
/jspdemo/build/
/jspdemo2/nbproject/private/
/jspdemo2/build/
/jspdemo3/nbproject/private/
/jspdemo3/build/
